<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" style="max-width:350px; max-height:350px;" src= <%= val.image_url %> alt="destination" />
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= val.name %>
                        </h5>
                        <p>
                            <%= val.display_phone %>
                        </p>
                        <btn onclick="findRides()" class="btn btn-primary">
                            Order Ride
                        </btn>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <h2> RESULT</h2>
            </div>
        </div>
    </div>
</body>

<footer>

</footer>

<script>
    function findRides() {
        fetch('/api/orderRide/Uber');
    }
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous">
    </script>

</html>