<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <div class="card text-center">
            <img class="card-img-top" src=<%= location.image %> alt="destination" />
            <div class="card-body">
                <h5 class="card-title">
                    <%= location.name %>
                </h5>
                <p>
                    <%= location.address %>
                </p>
                <form>
                    <btn class="btn btn-primary">
                        Order Ride
                    </btn>
                </form>
            </div>
        </div>
    </div>
</body>

<footer>

</footer>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
    crossorigin="anonymous"></script>

</html>